<h3>Cadastrar Beneficio</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">codigo</label>
      <input type="text" formControlName="numero" placeholder="numero" name="numero" class="form-control" id="numero">
    </div>

    <div class="form-group">
      <label for="name">Beneficiario</label>
      <select formControlName="funcionario" class="form-control">
        <option disabled>Selecione um funcionario</option>        
        <option *ngFor="let funcionario of funcionarios | async" value="{{funcionario.id}}">{{funcionario.matricula}} - {{funcionario.name}}</option>
    </select>
      
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>