<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['']">Benefícios</a></li>
    <li class="breadcrumb-item"><a href="javascript:;" (click)="cancelar()">Arquivos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Visualizar Arquivo</li>
  </ol>
</nav>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="text-center">Visualizar Arquivo</h2>
  <div>
  <br> 
<div style="height: 600px">
  <ng2-pdfjs-viewer #pdfViewer></ng2-pdfjs-viewer>
</div>