<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['']">Benefícios</a></li>
    <li class="breadcrumb-item"><a href="javascript:;" (click) = "cancelar()" >Arquivos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Movimentações</li>
  </ol>
</nav>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="text-center">Lista de Movimentações</h2>
  <div>
  <div class="d-flex justify-content-between">
      <div></div>
      <div>
        <button (click)="adicionar()" class="btn btn-primary" style="margin-left: 10px">Adicionar</button>
      </div>
  </div>
  <br> 
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>codigo</th>
            <th>Data</th>
            <th>setor Origem</th>
            <th>setor Destino</th>
            <th>parecer</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movimentacao of movimentacoes | async">
            <td>{{movimentacao.id}}</td>
            <td>{{movimentacao.data_tramitacao | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td>{{movimentacao.setorOrigem.descricao}}</td>
            <td>{{movimentacao.setorDestino.descricao}}</td>
            <td>{{movimentacao.parecer}}</td>
            <td><button (click)="excluir(movimentacao.id)" class="btn btn-danger" style="margin-left: 10px">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>